* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
}

a {
  color: #999;
}

.text-primary {
  color: #db9e3f;
}

.bg-primary {
  background-color: #db9e3f;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-light {
  color: #f9f9f9;
}

.bg-light {
  background-color: #f9f9f9;
}

.text-grey {
  color: #999;
}

.bg-grey {
  background-color: #999;
}

.text-dark-1 {
  color: #343440;
}

.bg-dark-1 {
  background-color: #343440;
}

.text-dark {
  color: #222;
}

.bg-dark {
  background-color: #222;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fs-xs {
  font-size: 0.7692rem;
}

.fs-sm {
  font-size: 0.9231rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.0769rem;
}

.fs-xl {
  font-size: 1.2308rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}
