@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1635867544892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e679";
}

.icon-more:before {
  content: "\e684";
}

.icon-news:before {
  content: "\e772";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-Menu:before {
  content: "\e664";
}

